:root {
    --sidebar-color: rgb(160, 197, 235);
    --sidebar-color-dark: hsl(from var(--sidebar-color) h s calc(l - 5));

    --main-color: rgb(206, 223, 240);

    --task-color: rgb(255, 255, 255);
    --task-color-dark: hsl(from var(--task-color) h s calc(l - 5));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    
} */

#app {
    display: flex;
    font-family: "Roboto", sans-serif;

    min-height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 2lh;

    width: 12rem;
    height: inherit;
    background-color: var(--sidebar-color);
    font-size: 1.5rem;
    padding-top: 1rem;
}

#sidebar > div > p {
    padding-left: 1rem;
}

#sidebar-top {
    font-weight: 700;
}

#sidebar-lists {
    font-weight: 500;
}

.side-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    height: 1.2lh;
    padding-left: 1rem;
}

.side-section:hover {
    background-color: var(--sidebar-color-dark);
    cursor: pointer;
}

.icon {
    height: 1lh;
    filter: invert(10%);
}

#main {
    background-color: var(--main-color);
    display: flex;
    flex: 1;
}

.task {
    display: grid;
    grid-template-columns: 1fr 2em;
    align-items: center;
    
    background-color: var(--task-color);
    margin: 1em;
    border-radius: 0.5em;
    height: 4.5lh;
    width: 100%;
}

.task-inner{
    padding-left: 1em;
    margin-right: auto;
}

.task-title{
    font-size: 1.2em;
}

.task-description {
    color: gray;
    font-size: 0.95em;
}

.task-details {
    display: flex;
    align-items: center;
    gap: 1em;

    color: gray;
    margin-top: 0.5lh;
    font-size: 0.9em;
}

.task-details > p + p::before {
    content: "●";
    font-size: 0.7em;
    position: relative;
    right: 0.7em;
    bottom: 0.1em;
}

.task-side {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 2em;
}

.task-side:hover {
    background-color: var(--task-color-dark);
    cursor: pointer;
    border-radius: 0 0.5em 0.5em 0;
}

.unfinished::before {
    content: "";
    height: 4.5lh;
    width: 0.5em;
    background-color: red;
    border-radius: 0.5em 0 0 0.5em;
    position:absolute;
}

.finished::before {
    content: "";
    height: 4.5lh;
    width: 0.5em;
    background-color: green;
    border-radius: 0.5em 0 0 0.5em;
    position:absolute;
}

#info {
    display: none;
}